h2.contractsheading {
  font-size: 3rem;
  font-family: "Merriweather Sans";
  font-weight: 700;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #555;
}

h1.heroh1 {
  font-size: 3.5rem;
  margin: 5px 0px;
  font-family: "Merriweather Sans";
  font-weight: 700;
  --animate-duration: 800ms;
  --animate-delay: 0.1s;
}
.heroinsidesecond {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.heroimage {
  width: 70%;
  height: 70%;
  transform: rotate(45deg);
  -webkit-box-shadow: 0px 0px 60px 5px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 60px 5px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 60px 5px rgba(255, 255, 255, 0.5);
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}
.inside {
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  /* right: 50%; */
  /* height: 10%; */
  color: #ffffff;
}

p.herop1 {
  line-height: 2;
  max-width: 95%;
  word-wrap: break-word;
  font-size: 25px;
  font-family: "Merriweather Sans";
  font-weight: 400;
  --animate-duration: 800ms;
  --animate-delay: 0.1s;
}
p.herop1:first-of-type {
  margin: 30px 0px 0px 0px;
}
p.herop1:last-of-type {
  margin: 0px 0px 30px 0px;
}

button.herofirstbutton,
button.herofirstbutton-2 {
  margin-top: 10px;

  color: white;
  font-family: "Merriweather Sans";
  font-weight: 400;
  /* background-color: #f46737; */
  border-radius: 99999px;
  border: 2px solid #ffa011;
  background: linear-gradient(90deg, #ff4c00, #ff7700);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.3);
  --animate-duration: 800ms;
  --animate-delay: 0.1s;
}
button.herofirstbutton {
  padding: 1rem 3rem;
  font-size: 20px;
}
button.herofirstbutton-2 {
  font-size: 15px;
  padding: 1rem 2rem;
}
.bg {
  min-height: 100%;
  width: 100%;
  background-image: url("../src/assets/simple-dashed.png");
  /* position: absolute; */
  /* opacity: 30%; */
  /* z-index: 1; */
}

.parentofcode {
  max-width: 70%;
  min-width: 70%;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #945dd6, #f46737, #13adc7);
  padding: 5px;
  border-radius: 10px;
  margin: 50px 0px;
}

.miro-link {
  margin-left: auto;
}
/* h1.logo-h1 {
  animation: slideInDown; 
  animation-duration: 800ms;
  animation-delay: 2s; 
} */
.miro-image {
  width: 100%;
  height: 100%;
}
span.span-1 {
  animation: slideInDown;
  animation-duration: 800ms;
  animation-delay: 0;
}
span.span-2 {
  animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 800ms;
  animation-delay: 0.5s;
}
span.span-3 {
  animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1000ms;
  animation-delay: 1s;
}
span.span-4 {
  animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2000ms;
  animation-delay: 1.5s;
}
span.span-5 {
  animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 800ms;
  animation-delay: 2s;
}
span.span-6 {
  animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 800ms;
  animation-delay: 2.5s;
}
span.span-7 {
  animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 800ms;
  animation-delay: 3s;
}
span.span-8 {
  animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 800ms;
  animation-delay: 3.5s;
}

@media only screen and (max-width: 1000px) {
  h1.heroh1 {
    font-size: 2.3rem;
  }
  p.herop1 {
    font-size: 1.3rem;
    max-width: 100%;
    line-height: 1.5;
  }
  button.herofirstbutton {
    padding: 15px 40px;
    font-size: 15px;
  }
  h2.contractsheading {
    font-size: 2rem;
    border: none;
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 768px) {
  h1.heroh1 {
    font-size: 2rem;
    text-align: center;
  }
  p.herop1 {
    text-align: center;
    font-size: 1.4rem;
    max-width: 100%;
    line-height: 1.5;
  }
  button.herofirstbutton {
    padding: 10px 20px;
    font-size: 15px;
  }
  h2.contractsheading {
    font-size: 2rem;
    border: none;
    padding-bottom: 0px;
  }
  .heroinsidesecond {
    width: 100%;
  }
}
